/decompiled/bin/
/decompiled/obj/
/captures/
/tmp-*/
/ext-publish/
/ext-stage/
/re-cache/
/wrapper/bin/
/wrapper/obj/
/rgh.dll
/rgh.exe
/rgh.pdb
/rgh.deps.json
/rgh.runtimeconfig.json
/rgh-copy.deps.json
/rgh-copy.exe
/rgh-copy.runtimeconfig.json
/rgh-ext.deps.json
/rgh-ext.dll
/rgh-ext.exe
/rgh-ext.pdb
/rgh-ext.runtimeconfig.json
/rgh-test-original.dll
/Xbox360.Fatx.dll
/Xbox360.Fatx.pdb
/Xbox360.Remote.dll
/System*.dll
/Microsoft*.dll
/WindowsBase.dll
/Accessibility.dll
/FluentFTP.dll
/SharpCompress.dll
/Spectre.Console*.dll
/hostfxr.dll
/hostpolicy.dll
/coreclr.dll
/clrjit.dll
/createdump.exe
/mscordaccore.dll
/mscordaccore_amd64_amd64_*.dll
/mscordbi.dll
/mscorlib.dll
/mscorrc.dll
/msquic.dll
/clretwrc.dll
/clrgc.dll
/clrgcexp.dll
/hs_err_pid*.log
/capture.err
/capture.out
/Bitwise.cs
/DNGuard.cs
/DataFile.cs
/DataFileRecord.cs
/EndianIO.cs
/Extensions.cs
/Formatting.cs
/FreeRecord.cs
/KeyStorage.cs
/KeyVault.cs
/MediaIndex.cs
/MultiFileIO.cs
/Numbers.cs
/StfsDeviceStructure.cs
/SvodDeviceStructure.cs
/SyncIndexRecord.cs
/SyncInfoRecord.cs
/Win32.cs
/XContentException.cs
/XContentHeader.cs
/XContentMetadata.cs
/XContentPackage.cs
/XContentStructure.cs
/XdbfException.cs
/XeConsoleSignature.cs
/XeCrypt.cs
/_vendor/
/assembly-patcher/
/dispatch-patcher/
/thread-list-patcher/
/wrapper/
/bo2-ingame.bmp
/bo2-start.bmp
/netstandard.dll
/rgh.dll.bak
/rgh.dll.dispatch.bak
/rgh.dll.pre-helpfix.bak
/rgh.dll.threads-list.bak
/spoof-cxkes.ps1
/cs/
/de/
/es/
/fr/
/it/
/ja/
/ko/
/pl/
/pt/
/pt-BR/
/ru/
/sv/
/tr/
/zh-Hans/
/zh-Hant/
